/*font Variables*/
$rob: 'Roboto', sans-serif;
$hee: 'Heebo', sans-serif;  


/*Color Variables*/
$baseColor: #8490ff;
$dip: #222222;
$pfont: #777777;

:root{
  /* Light theme colors */
  --primary-color: #fff;
  --secondary-color: #f9f9ff;

  --dip: #222222;
  --pfont: #777777;

  // --primary-color: #070707;
  // --secondary-color: #0c0c0c;

  /* Dark theme colors */
  // --dip: rgb(212, 211, 211);
  // --pfont: #bebebe;

  // --primary-color: #070707;
  // --secondary-color: #0f0f0f;
}


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}




