.animated {
  animation-fill-mode: both;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 1;
  }
}

.zoomOut {
  animation-name: zoomOut;
}