<!--================Home Banner Area =================-->
<section class="home_banner_area overflow-hidden" id="home">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="home_left_img">
            <img src="assets/img/profile-pic.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner_content pad_top pad_btm" animateOnScroll>
            <h5>This is me</h5>
            <h2>Divyesh Vaghela</h2>
            <h4>
              <span class="txt-rotate" data-period="500"
                data-rotate='[ "Web Developer", "Mobile App Developer", "Web Services Developer" ]'></span>
            </h4>
            <p>I am a full-stack web and mobile application developer, specially using JavaScript frameworks like
              Angular, Ionic and Web Services developer mainly using Node.js server environment.
              In addition, I also have little experience and I’m actively diving deeper in Data Engineering and Data Analysis.
            </p>

            <a class="banner_btn" href="https://drive.google.com/uc?export=download&id=19hhmsHtOrHKQxGbsrqgTXK_rZtlsAJhw" download>Download CV</a>
            <div class="d-block d-md-none "><br></div>
            <a href="mailto:divyeshv789@gmail.com" target="_blank" class="btn text-primary ml-md-3">
              <i class="fa fa-envelope fa-lg"></i>
            </a>
            <a href="https://github.com/DivyeshVaghela" target="_blank" class="btn text-info">
              <i class="fa fa-github fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/divyesh-vaghela-b1b12a197" target="_blank" class="btn text-primary">
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120 overflow-x-hidden" id="about">
  <div class="container">
    <div class="row welcome_inner">
      <div class="col-lg-6">
        <div class="welcome_text" animateOnScroll>
          <h4>About Myself</h4>
          <p>
            I am Divyesh Vaghela, a full-stack developer based in India. 
            I develop mobile and web apps, especially using JavaScript technologies like Node.js and frameworks like Angular and Ionic.
          </p>
          <p>
            My main focus on each and every application I develop, remains the <b>User-friendliness</b> and <b>Quality</b>. I believe there are many developers, but one of the things that makes my work different from others is the quality of product.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tools_expert" animateOnScroll>
          <h3>Expertise</h3>
          <div class="skill_main">
            <div class="skill_item d-table-raw mt-3">
              <div class="d-table-cell icon-wrapper pr-2">
                <i class="fa fas fa-globe fa-lg"></i>
              </div>
              <div class="d-table-cell">
                <h6 class="theme-text-color mb-0">Web Development</h6>
                <p>
                  HTML, CSS, JavaScript, Angular
                </p>
              </div>
            </div>

            <div class="skill_item d-table-raw mt-3">
              <div class="d-table-cell icon-wrapper pr-2">
                <i class="fa fas fa-mobile fa-lg"></i>
              </div>
              <div class="d-table-cell">
                <h6 class="theme-text-color mb-0">Mobile Development</h6>
                <p>
                  Android, Ionic
                </p>
              </div>
            </div>

            <div class="skill_item d-table-raw mt-3">
              <div class="d-table-cell icon-wrapper pr-2">
                <i class="fa fas fa-code fa-lg"></i>
              </div>
              <div class="d-table-cell">
                <h6 class="theme-text-color mb-0">Web Services Development</h6>
                <p>
                  Node.js
                </p>
              </div>
            </div>

            <div class="skill_item d-table-raw mt-3">
              <div class="d-table-cell icon-wrapper pr-2">
                <i class="fa fas fa-database fa-lg"></i>
              </div>
              <div class="d-table-cell">
                <h6 class="theme-text-color mb-0">Data Engineering and Analysis</h6>
                <p>
                  SQL, NoSQL, Python <small>(Intermediate)</small>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Welcome Area =================-->

<!--================Aim Area =================-->
<section class="feature_area p_120 overflow-x-hidden">
  <div class="container">
    <div class="main_title" animateOnScroll>
      <h2>Life Aim</h2>
      <p>Here's what I want to do in my life..</p>
    </div>

    <div class="feature_inner row">
      <div class="col-md-6">
        <div class="feature_item" style="height: 85%" animateOnScroll>
          <h4>Mission</h4>
          <p>Explore various fields of technology, take expertise, initiate and be a part of innovative projects.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature_item" style="height: 85%" animateOnScroll>
          <h4>Vision</h4>
          <p>Solve the regular life problems around me through my computer knowledge and make complex tasks and life easier.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Aim Area =================-->

<!--================Projects Area =================-->
<project-list 
  [showHeader]="true"
  [limit]="3"
  [reverse]="true"
  [showFooter]="true"
  id="work">
</project-list>
<!--================End Projects Area =================-->

<!--================Timeline Area =================-->
<timeline
  [showHeader]="true"
  [reverse]="true"
  id="education-and-experience">
</timeline>
<!--================End Timeline Area =================-->

<!--================Thoughts Area =================-->
<thoughts
  [showHeader]="true">
</thoughts>
<!--================End Thoughts Area =================-->

<!--================Hobbies Area =================-->
<hobbies
  [showHeader]="true">
</hobbies>
<!--================End Hobbies Area =================-->

<!--================Contact Area =================-->
<contact-me
  [showHeader]="true"
  id="contact">
</contact-me>
<!--================Contact Area =================-->
