<section class="thoughts_area testimonials_area testi_two p_120 overflow-x-hidden">
  <div class="container">

    <div class="main_title" *ngIf="showHeader" animateOnScroll>
      <h2>Life Long Thoughts</h2>
      <p>Here's what I've learned through experience..</p>
    </div>
    <div class="row text-center justify-content-md-center">

      <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Practice Brings Perfection</p>
          </blockquote>
        </div>
      </div>
      <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Failures are obvious, just keep a smile and Never Quit</p>
          </blockquote>
        </div>
      </div>
      <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Quality of product makes the difference</p>
          </blockquote>
        </div>
      </div>

      <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Work speaks lounder than Words</p>
          </blockquote>
        </div>
      </div>

      <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Collaboration leads Innovation</p>
          </blockquote>
        </div>
      </div>

      <!-- <div class="item col" animateOnScroll>
        <div class="mb-wrap">
          <blockquote>
            <p>Efforts of only one of the team members can't lead to success, It's shared responsibility.</p>
          </blockquote>
        </div>
      </div> -->

    </div>
  </div>
</section>