<header class="header_area" [class.navbar_fixed]="headerFixed" #header>
  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light" [class.colored]="!isNavbarCollapsed">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h theme-text-color" routerLink="/home">Divyesh Vaghela</a>
        <div>
          <button class="navbar-toggler mr-3 valign-bottom" type="button" (click)="toggleTheme()">
            <img src="/assets/icons/sun-set.png" alt="Change Theme" class="theme-icon small">
          </button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <i class="fa fa-angle-up fa-lg theme-text-color ml-1 mr-1" *ngIf="!isNavbarCollapsed else hamburgerIcon"></i>
            <ng-template #hamburgerIcon>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </ng-template>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent" 
          [ngbCollapse]="isNavbarCollapsed">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item active" (click)="toggleTheme()" *ngIf="isNavbarCollapsed">
              <a class="nav-link">
                <img src="/assets/icons/sun-set.png" alt="Change Theme" class="theme-icon medium">
              </a>
            </li>
            <li class="nav-item active"><a class="nav-link" routerLink="/home" fragment="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="work">Work</a>
            <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="education-and-experience">Education & Experience</a>
            <li class="nav-item"><a class="nav-link" routerLink="/home" fragment="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
