<section class="latest_blog_area p_120">
  <div class="container">
    <div class="main_title" *ngIf="showHeader">
      <h2>Hobbies</h2>
      <p>Here's what I am interested in other than being a 'Techie'..</p>
    </div>

    <div class="row latest_blog_inner">
      
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="l_blog_item">
          <div class="l_blog_img">
            <img class="img-fluid" src="assets/img/hobby_reading.jpg" alt="">
          </div>
          <div class="l_blog_text">
            <!-- <div class="date">
                <a href="#">25 October, 2017 | By Mark Wiens</a>
              </div> -->
            <h4>Reading Tech Books</h4>
            <p>
              As per the proverb <i>"Books are the best friends"</i>, I have gained and I am keep gaining knowledge through books.
              I mostly read books related to technologies but everything in this field is inspired by some real-world analogy that helps in understanding real-world also.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="l_blog_item">
          <div class="l_blog_img">
            <img class="img-fluid" src="assets/img/hobby_exploration.jpg" alt="">
          </div>
          <div class="l_blog_text">
            <!-- <div class="date">
              <a href="#">25 October, 2017 | By Mark Wiens</a>
            </div> -->
            <h4>Exploring Nature</h4>
            <p>
              I believe, spending time in nature's lap can help to relieve stress and anxiety, and boost feelings of
              happiness and wellbeing.
              A simple trip in a month can give the power to get back to work in a completely refreshed mood.
              <br><br>
              Whenever I go on a trip with my friends, it helps to create a more strong bond, sharing of knowledge and
              experience, and better collaboration.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="l_blog_item">
          <div class="l_blog_img">
            <img class="img-fluid" src="assets/img/hobby_music.jpg" alt="">
          </div>
          <div class="l_blog_text">
            <!-- <div class="date">
              <a href="#">25 October, 2017 | By Mark Wiens</a>
            </div> -->
            <h4>Listening Music</h4>
            <p>
              I believe, listening music and song can refresh us in just 5 to 10 minutes. This is the fastest way to
              relax and refresh our mind.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>